<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="imagesSearchFile" value="D:\Uni\FINAL_DISSERTATION_MSc\eLearning\Scripts\imagesSearchRegex.txt"/>
    <add key="sentiWordNetFile" value="D:\Uni\FINAL_DISSERTATION_MSc\Helpers\new_SentiWordNet.txt"/>
    <add key="listOfDomainFile" value="D:\Uni\FINAL_DISSERTATION_MSc\Helpers\trustedDomains.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\eLearning.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    

    
      <customErrors mode="Off"/>
    
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
